{% extends 'BurgerCity/common.html' %} {% block content %}
<div class="container" style="margin-top: 40px">
  <h1>Contattaci</h1>
  <form method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Nome</label>
      <input
        type="name"
        name="username"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="Nome"
      />
      <label for="exampleFormControlInput1" class="form-label"
        >Email address</label
      >
      <input
        type="email"
        name="email"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="name@example.com"
      />
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label"
        >Chiedi ciò che vuoi!</label
      >
      <textarea
        name="userQuestion"
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
      ></textarea>
    </div>
    <input class="btn btn-primary" type="submit" value="Submit" />
  </form>
  <div>
    <h2>Commenti</h2>
    <div style="border: solid 1px gray; border-radius: 8px">
      <h5>Nome Utente</h5>
      <p>testo</p>
    </div>
  </div>
</div>

{% endblock %}
